[Unit]
Description=Lamb Distributed Client
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/lamb-distributed
ExecStart=/usr/bin/python3 client.py --name node01 --concurrency 4 --server http://192.168.65.97:5000
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target